.knowMoreForm{
    position: absolute;
    margin-top: 1.25em;
    text-align: center;
    border: solid black;
    max-width: 15em;
    border-radius: 1.9375em;
    top: 8.625em;
    background-color: #D9D9D970;
}
.knowMoreForm > p.title{
    text-align: center;
}
.knowMoreForm > .input-text{
    border: 2px solid black;
    height: 1.875em;
    background-color: transparent;
    width: 16em;
    border-radius: 6px;
    margin-bottom: 1em;
}
.knowMoreForm > .btn{
    margin-top: 2em;
    margin-bottom: 2em;
    height: 1.75em;
    border: 1px solid black;
    border-radius: 6px;
}
.knowMoreForm > .input-text::placeholder{
    color:#433e3e
}