:root{
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}
body{
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.page{
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}
image{
  max-width: 100%;
  padding: 0;
  margin:0;
}